<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ebay_Project_Hybrid_Framework_Application">

<!-- 
	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
 -->

	<test name="Ebay_Project_Hybrid_Framework">
		<classes>
			<class name="com.ebay.qa.testcases.IndexTestCase"></class>
			<class name="com.ebay.qa.testcases.RegisterTestCase"></class>
			<class name="com.ebay.qa.testcases.SearchBoxTest"></class>
			<class name="com.ebay.qa.testcases.ListMenuTestCase"></class>
		</classes>
	</test>
</suite>